.app-btn {
  text-align: center;
  cursor: pointer;
  min-width: 140px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0 10px;
  border: 1px solid #d9d9d9;  
  border-radius: 4px;
  outline: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: rgba(0,0,0,.65);
  background-color: #fff;
}

.app-btn:hover, .app-btn:active {
  color: #1DA57A;
  border-color: #1DA57A;  
}

.app-btn:disabled {
  cursor: not-allowed;
  color: rgba(0,0,0,.25);
  border-color: #d9d9d9;
  background-color: #f7f7f7;
}